*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    background: transparent;
    justify-content: center;
    align-items: center;
    gap: 470px;
}
.h-1{
    display: flex;
    width: 80px;
    background: transparent;
    height:50px ;
    justify-content: center;
    align-items: center;
}
.h-2{
    width: 280px;
    background:transparent;
    height:50px ;
    align-items: center;
    margin-top: 25px;
}
.h-3{
    width: 80px;
    background:transparent;
    height:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-logo{
    width: 100px;
    height: 50px;
    fill: white;
}
.page-1{
    width: 100%;
    height: 812px;
    background:transparent;
}
.svg1{
    width: 25px;
    height: 25px;
    fill: white;
}
.btn1{
    display: flex;
    align-items: center;
    width: 80px;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
    
}
.s-1{
    margin-top: 1px;
}
.svg-2{
    width: 25px;
    height: 25px;
    fill: white;
    margin-left: 25px;
}
.title{
    margin-top: 250px;
    margin-left: 150px;
    color: white;
    font: normal normal 400 clamp(2.03rem, 3.58vw + 1.31rem, 5.61rem) / calc(6px + 2.125ex) Porsche Next, Arial Narrow, Arial, Heiti SC, SimHei, sans-serif;
}
#back-vid{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}
.svg-3{
    fill: white;
}
.page-2{
    background: #ffffff;
    width: 100%;
    height: 450px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.btn-dr{
    width: 128px;
    height: 50px;
    border: 3px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    margin-left: 150px;
    margin-top: 20px;
}
.para1{
    color: white;
    justify-self:center;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;

}
.div-2{
    width: 350px;
    height: 250px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(171, 62, 151, 0) 0%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/800x800/e111c1cf35/porsche-story-top-social-moments-2025.jpg/m/900x675/filters:format(webp):quality(80)');
}
.div-3{
    width: 350px;
    height: 250px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(171, 62, 151, 0) 0%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/2048x1536/13ce4fff1a/e3-ii-phev-black-edition-cayenne-black-edition-car-from-back-view.jpg/m/900x675/filters:format(webp):quality(80)');
}
.div-4{
    width: 350px;
    height: 250px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(171, 62, 151, 0) 0%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/3840x2880/5e4161c0be/03-j1.jpg/m/900x675/filters:format(webp):quality(80)');
}    
.h-4{
    bottom: 35px;
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
    font-size: 16px;

}
.swg-4{
    position: absolute;
    fill: white;
   right: 10px;
   bottom: 35px;
}
.para-2{
    position: absolute;
    bottom: 12px;
    font: 400 .75rem/calc(6px + 2.125ex) Porsche Next,Arial Narrow,Arial,Heiti SC,SimHei,sans-serif;
    color: #6b6d70;
    font-size: 12px;
}
.page-3{
    width: 100%;
    height: 1600px;
    background: brown;
}
.page-2-header{
    width: 100%;
    height: 150px;
    background: white;
}
.h-5{
    font:  normal 400 clamp(2.03rem, 3.58vw + 1.31rem, 5.61rem) / calc(6px + 2.125ex) Porsche Next, Arial Narrow, Arial, Heiti SC, SimHei, sans-serif;
    margin-left: 80px;
    margin-top: 60px;
    
}
.cars{
    width: 100%;
    background: white;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cars-1{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/b7f3c2d593/911-desktop_5-4.jpg/m/1800x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.h5-9{
    bottom: 35px;
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
    font-size: 18px;
}
.swg-9{
    position: absolute;
    fill: white;
   right: 20px;
   bottom: 35px;

}.cars-2{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/f8ad827507/718-desktop_5-4.jpg/m/2400x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.cars-3{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/e178b7a186/taycan-desktop_5-4.jpg/m/2400x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.cars-4{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/c06fa1b962/panamera-desktop_5-4.jpg/m/2400x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.cars-5{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/3debd00362/macan-desktop_5-4.jpg/m/2400x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.cars-6{
    width: 600px;
    height: 600px;
    background: green;
    border-radius: 9px;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1280x1024/7c9b828a7a/denver-range-fallback-desktop-var2.jpg/m/2400x0/filters:format(webp):quality(80)');
    background-position: center;
    background-size: cover;
    position: relative;
}
.page-4{
    background: white;
    width: 100%;
    height: 600px;
    
    gap: 30px;
    justify-content: center;
   
    
}
.page-4-header{
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.h78{
    font: normal normal 600 clamp(1.6rem,1.56vw + 1.29rem,3.16rem)/ calc(6px + 2.125ex) Porsche Next,Arial Narrow,Arial,Heiti SC,SimHei,sans-serif;
}

.page-4-body{
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.page-4-1{
     width: 300px;
    height: 300px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1920x1080/c4ba0518e0/16-9_e-performance_1920x1080.jpg/m/1398x786/filters:format(webp):quality(45)');
}
.page-4-2{
     width: 300px;
    height: 300px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/900x506/2680696418/e-performance_new_mobile-optimized.jpeg/m/1398x786/filters:format(webp):quality(45)');
}
.page-4-3{
     width: 300px;
    height: 300px;
    background: cyan;
    border-radius: 9px;
    position:relative;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(180deg,rgba(252, 252, 252, 0) 77%, rgba(48, 45, 45, 1) 100%), url('https://a.storyblok.com/f/338913/1920x1080/05a7f7bd1f/16-9_magazine_2022_eirik_halvorsen_porsche_experience_norway_1920x1080.jpg/m/1398x786/filters:format(webp):quality(45)');
}
.footer{
    width: 100%;
    height: 600px;
    background: #0e0e12;
    margin-top: 50px;
}
.footer-1{
    width: 100%;
    height: 140px;
    background: #0e0e12;
    display: flex;
    flex-direction: column;
}
h3{
        font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
        margin-left: 49px;
    margin-top: 47px;
    

}
.svg6{
    width: 20px;
    height: 20px;
    color: #ffffff;
    fill: white;
}
p{
    display: flex;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 45px;
    color: #ffffff;

}
.f-2-1{
    display: flex;
    flex-direction: column;
}
.footer-2{
    background: #0e0e12;
    display: flex;

}
.btn-0{
        width: 50px;
    height: 50px;
    border-radius: 9px;
    border : 1px solid white
}
.svgg{
      width: 20px;
    height: 20px;
}
.btn-2{
    height: 50px;
    width: 220px;
    margin-left: 42px;
    border-radius: 9px;
     border : 1px solid white
}
.btn-col{
    display: flex;
    gap: 6px;
    
    color: white;
}
.footer-3{
    display: flex;
    background: #0e0e12;
    gap: 13px;
    margin-top: 25px;
}
.footer-4{
    width: 100%;
    height: 100px;
    background: #0e0e12;
}
.footer-5{
    width: 100%;
    height: 300px;
    background:#0e0e12;
    margin-top: 50px;
}
.para77{
    margin-top: 50px;
    justify-self: center;
}
p{
    justify-self: center;
}
.svg-33{
     height: 109px;
    width: 295px;
    justify-self: center;
    align-self: center;
   display: flex;
   fill: white;
}









   


